


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    margin-top: 120px;
}


table {
    text-align: center;
    border: 2px solid;
    border-collapse: collapse;
}
td{
    border: 2px solid;
    padding: 10px;
}

th{
    background-color: #fff882;
    border: 2px solid;
    padding: 10px;
}


